/*Webpage & background*/
body {
    font-family: Tahoma;
    font-size: 16px;
    color: #777777;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    margin: 0;
}

/*Header*/
h1 {
    text-align: center;
    color: #000000;
    margin: 1em auto;
}

/*Midground*/
form {
    background-color: #ffffff;
    display: block;
    max-width: 750px;
    min-width: 250px;
    padding: 50px;
    border: 0;
    border-radius: 25px;
    margin: auto auto;
}

/*Login div spacing*/
div {
    width: 50%;
    border: 0;
    margin: 2em auto;
}

.clickable {
    margin: 3em auto;
}

div:last-of-type {
    width: 8em;
}

/*Input prompts*/
label {
    letter-spacing: 2px;
}

/*Input boxes*/
input {
    display: flex;
    justify-content: end;
    background-color: #ffffff;
    width: 100%;
    min-height: 3em;
    border: 1px solid #777777;
    border-radius: 10px;
    margin: 10px 0 0;
}

input:focus {
    outline-color: #000000;
}

/*Submit button*/
input[type="submit"] {
    display: block;
    font-weight: 555;
    color: #ffffff;
    background-color: #333333;
    height: 3em;
    width: 100%;
    border: 1px solid #000000;
}

input[type="submit"]:hover {
    background-color: #777777;
}

/*Forgot password*/
a, a:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #777777;
}

a:hover, a:active {
    text-decoration: underline;
    color: #333333;
}
